*{     margin: 0;     padding: 0;     outline: 0;     box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body {
    font-family: 'Merriweather', serif;
    background: rgb(185,32,32);
    background: linear-gradient(90deg, rgba(185,32,32,1) 0%, rgba(143,25,25,1) 48%, rgba(101,0,0,1) 100%);
}

.cadastro-area {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;   
}

.cadastro {
    background-color: #fff;
    padding: 40px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.75);
}

.cadastro form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cadastro input {
    padding: 20px;
    background-color: rgb(226, 226, 226);
    margin-top: 20px;
    height: 40px;
    border-radius: 7px;
    border: none;
    outline: none;
    color: rgb(83, 83, 83);
}

.cadastro img {
    width: 150px;
}

input::placeholder {
    padding-left: 10px;
}

form [type="submit"] {
    margin-top: 25px;
    cursor: pointer;
    background-color: rgb(151, 11, 11);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    height: 50px;
    font-weight: bold;
    letter-spacing: 3px;

}

a {
    color: rgb(151, 11, 11);
    text-decoration: none;
}

p {
    font-size: 17px;
    margin-top: 50px;
}