*{     margin: 0;     padding: 0;     outline: 0;     box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body {
    font-family: 'Merriweather', serif;
    background-image: url(../imagens/bg-cadastro.jpg);
    background-size: cover;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.navbar {
    background-color: #640d14;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.navbar-links {
    text-transform: uppercase;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 2px;
}

.navbar-links:before,
.navbar-links:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

.navbar-links:after { 
    left: 0;
    bottom: -10px;
}

.navbar-links:before { 
    right: 0;
    top: -10px;
}

.navbar-links:hover {
    color: white;
}

.navbar-links:hover:after,
.navbar-links:hover:before {
    width: 100%;
}


.btn {
    display: flex;
    padding: 15px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #640d14;
    justify-content: center;    
    align-items: center;
    border: 1px solid white;
}

.btn:hover{
    color: #640d14;
    background-color: white;
    transition: 0.5s;
}

.entrar {
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
}

.logo {
    width: 180px;
    position: absolute;
    top: 10px;
}

.login-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff; 
    width: 500px;
    height: 450px;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
}

.form{
    margin-top: 100px;
    padding: 0 40px 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    
}

.form-control input {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    outline: 0;
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 15px;
    margin-bottom: -20px;
    height: 40px;
}


#entrar{
    text-transform: uppercase;
    background-color: #640d14;
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #640d14;
    letter-spacing: 2px;
}

#entrar:hover {
    background-color: #fff;
    color: #640d14;
    border: 1px solid #640d14;
    transition: 0.9s ease-out;
}

.login img {
    width: 180px;
    position: absolute;
    top: 10px;
}


.links {
    text-decoration: none;
    color: #640d14;
    font-weight: bold;
}