@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(../imagens/background.jpg);
  background-size: cover;
  background-position: 50%;
  height: 100vh;
}

.bg-primary-color {
  background-color: #640d14;
}

.bg-secondary-color {
  background-color: #ccc;
}

.bg-dark-color {
  background-color: #290508;
}

.primary-color {
  color: #fff;
}

.secondary-color {
  color: #000;
}

.links-color {
  color: #640d14;
}

.register {
  text-decoration: none;
}

.form-control:focus {
  border-color: #ff0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.btn:hover {
  transition: 0.8s;
}

.card {
  -webkit-box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.55);
  border: 2px solid #000;
}

.links-register:hover {
  color: #000;
  transition: 0.6s;
}

input::placeholder {
  font-size: 1rem;
}


form {
  text-align: left;
}

#submit-login {
  margin-left: 50%;
  transform: translateX(-50%);
}
