*{     margin: 0;     padding: 0;     outline: 0;     box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body {
    font-family: 'Merriweather', serif;
    background: rgb(185,32,32);
    background: linear-gradient(90deg, rgba(185,32,32,1) 0%, rgba(143,25,25,1) 48%, rgba(101,0,0,1) 100%);
}

.login-area {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;   
}

.login {
    background-color: #fff;
    padding: 40px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 7px -6px rgba(0,0,0,0.75);
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: -20px;
}
#email {
    padding: 5px;
    background-color: rgb(226, 226, 226);
    margin-top: 10px;
    height: 40px;
    border-radius: 7px;
    border: none;
    outline: none;
    color: rgb(83, 83, 83);
    width: 250px;
}

#senha {
    padding: 5px;
    background-color: rgb(226, 226, 226);
    margin-top: 10px;
    height: 40px;
    border-radius: 7px;
    border: none;
    outline: none;
    color: rgb(83, 83, 83);
    width: 250px;
}

#recuperar{
    margin-top: 40px;
    width: 130px;
    height:30px;
    border-radius: 6px;
    background-color: rgb(114, 20, 20);
    color: white;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
}

button[disabled]{
    opacity: 0.7;
}

#entrar{
    margin-top: 10px;
    width: 130px;
    height:28px;
    border-radius: 6px;
    background-color: rgb(114, 20, 20);
    color: white;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
}

.login img {
    width: 250px;
}

input::placeholder {
    padding-left: 10px;
}

form [type="submit"] {
    height: 50px;
    cursor: pointer;
    background-color: rgb(151, 11, 11);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;

}

a {
    color: rgb(151, 11, 11);
    text-decoration: none;
    font-weight: bold;
}

p {
    font-size: 17px;
    margin-top: 30px;
}