@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.bg-primary-color {
  background-color: #640d14;
}

.bg-secondary-color {
  background-color: #ccc;
}

.bg-dark-color {
  background-color: #290508;
}

.primary-color {
  color: #fff;
}

.bg-secondary-color {
  color: #000;
}

/* NavBar */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav,
.nav-link,
.navbar-nav .show > .nav-link {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-item a:hover {
  color: #ccc;
  transition: 0.6s;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.nav-link {
  text-transform: uppercase;
  position: relative;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
}

.nav-link:before,
.nav-link:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}

.nav-link:after {
  left: 0;
  bottom: -10px;
}

.nav-link:before {
  right: 0;
  top: -10px;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover:after,
.nav-link:hover:before {
  width: 100%;
}

.navbar-nav {
  --bs-navbar-hover-color: none;
}

/* NavBar Img */

a.navbar-brand {
  margin: 0;
}

.logo {
  width: 3em;
}

#navbar-items {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* Header */
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Header - Selects */

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding-right: 3em;
  padding-left: 3em;
  height: 35em;
}

.form-select:focus {
  border-color: #290508;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.form-title {
  font-family: "Fredoka One", cursive;
  text-align: center;
  font-size: 2em;
}

.form-select {
  border: 1px solid black;
  padding: 2em;
}

.btn {
  margin-left: 50%;
  transform: translateX(-50%);
}

/* Cards */

.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.card-text {
  text-align: center;
}

.card {
  margin-top: 2em;
}

/* Footer */

.conteudo {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

ul {
  list-style: none;
}

.footer {
  height: auto;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: #640d14;
  padding: 35px 0;
  margin-top: 2em;
}

.footer-section {
  min-width: 20%;
}

.footer-section h3 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-section h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ccc;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-section ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-section ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-section ul li a:hover {
  padding-left: 8px;
}
.footer-section .redes-sociais a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ccc;
  transition: all 0.5s ease;
}
.footer-section .redes-sociais a:hover {
  color: #24262b;
  background-color: #580c12;
}

@media (max-width: 767px) {
  .footer-section {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  .footer-section {
    width: 100%;
  }
  .header-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .header-img {
    width: 100%;
  }
  .container-form {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .header-content {
    display: flex;
    align-items: center;
  }
}
