*{margin:0; padding:0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
}

.header {
    background-color: rgb(114, 20, 20);
    width: 100%;
    height: 85px;
}

.logo {
    width: 144px;
}

.navbar {
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-links {
    text-transform: uppercase;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 2px;
}

.navbar-links:before,
.navbar-links:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

.navbar-links:after { 
    left: 0;
    bottom: -10px;
}

.navbar-links:before { 
    right: 0;
    top: -10px;
}

.navbar-links:hover {
    color: white;
}

.navbar-links:hover:after,
.navbar-links:hover:before {
    width: 100%;
}


.btn {
    text-transform: UPPERCASE;
    font-size: 17px;
    font-weight: bold;
    padding: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(78, 16, 16);
    color: white;
}

.btn:hover{
    color: black;
    background-color: white;
    transition: 1s;
}


.opcao {
    background-color: #ccc;
    width: 800px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-title {
    top: 0;
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    
}

#seletores{
    margin-top: 20px;
}

.selecao{
    width: 450px;
    height: 50px;
    margin-top: 10px;
    border-radius: 6px;
    padding: 10px;
}

#botaoBuscar{
    text-align: center;
}

#buscar{
    margin-top: 40px;
    width: 90px;
    height:40px;
    border-radius: 6px;
    background-color: rgb(114, 20, 20);
    color: white;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
}
.container {
    display: flex;
}

.pic {
    width: 100%;
    height: 550px;
    background-image: url(../imagens/main.jpg);
    background-size: cover;

}

.search-btn {
    padding: 13px;
}

.pesquisa input {
    margin-left: 25px;
    margin-right: 25px;
    width: 500px;
    padding: 25px;
    border-radius: 5px;
    border: none;
    margin-top: 25px;
    font-size: 16px;
}

.barra {
    height: 60px;
    background-color: rgb(124, 124, 124);
}

.barra-title {
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}


.cards {
    width: 100%;
    background-color: blue;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #ccc;
}

.card {
    width: 23%;
    height: 450px;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.75);
    border-radius: 25px;
    
}

.loja {
    background-image: url(/imagens/roupas.jpg);
    background-size: cover;
    background-position: center;

}

.quiosque {
    background-image: url(/imagens/quiosque.jpeg);
    background-size: cover;
    background-position: center;

}

.food {
    background-image: url(/imagens/food.jpg);
    background-size: cover;
    background-position: center;

}

.box {
    background-image: url(/imagens/box.jpg);
    background-size: cover;
    background-position: center;

}


.card-title {
    text-transform: uppercase;
    color: #000;
    width: 400px;
    margin-top: -35px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;

}


.welcome-title {
    margin-top: 10px;
    text-align: center; 
}

.welcome-subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
}

#email {
    margin-left: 20px;
    width: 300px;
    height: 30px;
}

#password {
    margin-left: 20px;
    width: 300px;
    height: 30px;
}

label {
    margin-top: 20px;
}


footer {
    background-color: rgb(114, 20, 20);
    height: 170px;
    padding: 20px;

}

footer ul li {
    margin-left: 20px;
    font-size: 20px;
}

footer ul li a {
    color: black;
    text-decoration: none;
}