@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.bg-primary-color {
    background-color: #640d14;
}

.bg-secondary-color {
    background-color: #ccc;
}

.bg-dark-color {
    background-color: #290508;
}

.primary-color {
    color: #fff;
}

.bg-secondary-color {
    color: #000;
}

/* NavBar */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-link.active, .nav-link,  .navbar-nav .show>.nav-link {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-item a:hover, .nav-item a.active:hover {
    color: #ccc;
    transition: 0.6s;
}

.nav-link.active {
    border-bottom: 1px solid white;
}

.navbar-toggler:focus {
    text-decoration: none; 
    outline: 0;
    box-shadow: none;
}

/* NavBar Img */ 
.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 100px;
}

#navbar-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Botão de Entrar */ 

/* Conteúdo Principal */

.teste-header {
    background-image: url(../imagens/teste-header.jpg);
    background-size: contain;
    height: 75vh;
}