@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather";
}

.bg-primary-color {
    background-color: #640d14;
}

.bg-secondary-color {
    background-color: #ccc;
}

.bg-dark-color {
    background-color: #290508;
}

.primary-color {
    color: #fff;
}

.bg-secondary-color {
    color: #000;
}

/* NavBar */

#navbar a.active {
    color: #fff;
    border-bottom: 1px solid #290508;
}

#navbar a:hover {
    color: #ccc;
}

.navbar-links:before,
.navbar-links:after {
    content: "";
    position: absolute; 
    height: 2px;
    width: 0px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

.navbar-links:after { 
    left: 0;
    bottom: -10px;
}

.navbar-links:before { 
    right: 0;
    top: -10px;
}

.navbar-links:hover {
    color: white;
}

.navbar-links:hover:after,
.navbar-links:hover:before {
    width: 100%;
}


.navbar-brand {
    display: flex;
    
}

.navbar-brand img {
    width: 180px;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {

    margin: 0 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Conteúdo Principal */
